[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-opentracing = "*"
jaeger-client = "*"
opentracing = "<2"
opentracing-instrumentation = {git = "https://github.com/Jamim/opentracing-python-instrumentation.git", ref = "feature/celery"}

[dev-packages]
celery = "*"
faker = "*"
flake8 = "*"
flake8-quotes = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
