[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django_opentracing = "==0.1.20"
flask-opentracing = "==0.2.0"
jaeger-client = "<4"
opentracing = "<2"
opentracing-instrumentation = {git = "https://github.com/Jamim/opentracing-python-instrumentation.git", ref = "fix/psycopg2"}
six = "*"

[dev-packages]
celery = "*"
faker = "*"
flake8 = "*"
flake8-quotes = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pythonpath = "*"
requests = "*"
